.section__item {
  display: flex;
  margin-bottom: 10px;
}

.section__item__date {
  font-size: small;
  width: 30%;
}

.content__title {
  margin-bottom: 5px;
}

.content__list {
  list-style: disc;
}

.content__list li {
  margin-left: 15px;
}