.side__section {
  width: 100%;
  text-align: left;
  padding-left: 0.8cm;
  margin: 20px 0;
}

.section__title {
  margin-bottom: 0.3cm;
}

/* CV Pic */
.pic-container {
  margin-bottom: 20px;
}
.pic {
  width: 175px;
  border-radius: 50%;
}


/* Contact */
.contact p {
  margin: 0.2cm 0;
}


/* Links */
.links .section__body ul {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.links .section__body li {
  width: 40%;
  padding: 5px 0;
}

/* Skills */
.skills .section__body .scope {
  display: block;
  margin-bottom: 5px;
  margin-top: 20px;
}

.skill {
  margin-bottom: 10px;
}

.skill__level {
  display: flex;
  justify-content: flex-start;
}

.skill__level div {
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 3px;
  width: 16px; height: 7px;
}

.skill__level .bg-white {
  background-color: white;
}
