/* Fonts -------------- */

/* 
Maven Pro, 
Overlock (700), 
Lato, 
Montserrat 
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Maven+Pro:wght@400;600;800&family=Montserrat:ital,wght@0,100;0,400;0,600;1,900&family=Overlock:wght@700&display=swap');

/* Russo One
Orbitron
Audiowide
Michroma
Racing Sans One */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Michroma&family=Orbitron:wght@500&family=Racing+Sans+One&family=Russo+One&display=swap');

/* -------------------- */

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --c-blue: #082b4d;
}

body {
  background-color: #ccc;
}

p {
  margin: 5px 0;
}


a {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  color: inherit;
}

ul {
  list-style: none;
}

/* PRINT ONLY div.a4 ELEMENT: */
@media print {
  body * {
    visibility: hidden;
  }
  .a4, .a4 * {
    visibility: visible;
  }

  .a4 {
    position: absolute;
    left: 0;
    top: 0;
  }
}